version: '3.4'

services:
  db:
    image: mysql:5.7
    command:  --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    env_file:
      - .env.test
    ports:
      - '3306:3306'

  backend:
    build: ./backend
    image: islamuratazaev/vs-api
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      - ./backend:/backend
    env_file:
      - .env.test
    depends_on:
      - db
    links:
      - db
    ports:
      - '8000:8000'

  frontend:
    build: ./frontend
    image: islamuratazaev/vs-ui
    restart: always
    depends_on:
      - backend
    links:
      - backend
    ports:
      - '3000:8080'
